# ===============================
# Raw data (DO NOT COMMIT)
# ===============================
data/raw/
*.zip
*.tar.gz

# ===============================
# Jupyter notebook checkpoints
# ===============================
.ipynb_checkpoints/

# ===============================
# Python cache / compiled files
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# OS / editor junk
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Virtual environments (if any)
# ===============================
venv/
.env/

